# =========================
# ENV
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# NODE MODULES
# =========================
node_modules/

# =========================
# LOGS
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# ANGULAR
# =========================
.angular/
dist/
out-tsc/

# =========================
# BUILD
# =========================
build/

# =========================
# CACHE
# =========================
.cache/
.vscode/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.idea/
*.swp

# =========================
# FIREBASE
# =========================
firebase-debug.log

# =========================
# ENV CONFIG BACKEND
# =========================
backend/.env

# =========================
# OPTIONAL LOCAL CONFIGS
# =========================
*.local